# Dependency directories
node_modules/
venv/

# Build output
.next/
out/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Python cache files
__pycache__/
*.pyc

# Editor-specific files
.vscode/

# Miscellaneous files
*.swp
*.swo

# Audio uploads (if any)
*.webm
uploads/